<div class="column">
  <nav class="panel"> 
    <p class="panel-heading">Categories:</p>
    <% @categories.each do |category| %>
      <p class="panel-block"><%= link_to category.name, category_path(category.id) %></p>
    <% end %>
  </nav>
</div>