<div class="column">
  <nav class="panel"> 
    <p class="panel-heading">Categories:</p>
    <% @categories.each do |category| %>
        <a class="panel-block"><%= category.name %></a>
        <% end %>
  </nav>
</div>